---
layout: layout.liquid
title: Detroit Pistons - Home
---
<h1>Welcome to the Detroit Pistons Fan Page</h1>
<section>
  <h2>About the Detroit Pistons</h2>
  <img src="images/pistons old logo.jpeg" alt="Detroit Pistons Logo" />
  <p>The Detroit Pistons are a professional basketball team based in Detroit, Michigan. They play in the NBA's Eastern Conference Central Division.</p>
  <p><a href="/team-history">Learn more about the team's amazinggg history.</a></p>
</section>
